* {
  padding: 0;
  margin: 0;
}
canvas {
  display: block;
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.debug {
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
