* {
  font-family: monospace;
  color: #ffffff;
  font-size: large;
}

body {
  margin: 0;
  background-color: #1f1f1f;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 640px 1fr;
  column-gap: 25px;
  margin: 25px;
}

.debug-container {
  background-color: #181818;
  padding: 25px;
  border: 1px solid #333333;
  margin-bottom: 25px;
}

.game-canvas {
  border: 1px solid #333333;
}

button {
  color: #ffffff;
  background-color: #0075ff;
  cursor: pointer;
  margin-bottom: 25px;
}

select {
  background-color: #181818;
}
